# Tauri
src-tauri/target/
src-tauri/WixTools/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# 但不要忽略锁文件！
# pnpm-lock.yaml
